* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "My Custom Font";
  src: url("../assets/BodoniModa_28pt-Regular.ttf") format("truetype"); }

.fullpage {
  height: 100vh; }

.video-section .video-holder {
  margin: 0px; }
  @media screen and (max-width: 425px) {
    .video-section .video-holder {
      padding: 0px; } }
  @media screen and (min-width: 1200px) {
    .video-section .video-holder {
      padding: 0px; } }

.timeline-section {
  min-height: 300px; }
  .timeline-section .note {
    color: #5a5a5a;
    font-size: 18px; }
  .timeline-section .ps-timeline-sec {
    background: #ffffff;
    font-family: "My Custom Font"; }
    @media screen and (max-width: 425px) {
      .timeline-section .ps-timeline-sec .container {
        padding-left: 30px; } }
    @media screen and (max-width: 425px) {
      .timeline-section .ps-timeline-sec .container ol {
        padding-left: 30px; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline {
          margin: 130px 0 !important;
          border-left: 2px solid #c7b0a4;
          padding-left: 0 !important;
          padding-top: 120px !important;
          border-top: 0 !important;
          margin-left: 25px !important; }
          .timeline-section .ps-timeline-sec .container ol.ps-timeline li {
            height: 220px;
            float: none !important;
            width: inherit !important; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
              width: 70px; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li:last-child {
              margin: 0;
              bottom: 0 !important;
              height: 120px; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
                bottom: 40px !important;
                width: 40% !important;
                margin-left: 25px !important;
                margin-top: 0 !important; }
                .timeline-section .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
                  width: 100%; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
                margin-bottom: 0 !important;
                top: 20px;
                width: 50% !important; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li span {
              left: 0 !important; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
                content: none !important; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
                content: none !important; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
                content: none !important; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
                content: none !important; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
              position: absolute !important;
              bottom: 150px !important;
              width: 30% !important;
              float: left !important;
              margin-left: 35px !important;
              margin-bottom: 0 !important; }
              .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
                margin: 0 auto !important;
                width: 80% !important; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
              position: absolute !important;
              bottom: 115px !important;
              width: 30% !important;
              float: left !important;
              margin-left: 35px !important;
              margin-bottom: 0 !important; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li p {
              text-align: left !important;
              width: 100% !important;
              margin: 0 auto !important;
              margin-top: 0px !important; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li .ps-top {
              width: 60% !important;
              float: right !important;
              right: 0;
              top: -40px; }
            .timeline-section .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
              width: 60% !important;
              right: 0;
              top: -40px; } }
    .timeline-section .ps-timeline-sec .container ol.ps-timeline {
      margin: 300px 0;
      padding: 0;
      border-top: 2px solid #c7b0a4;
      list-style: none; }
      .timeline-section .ps-timeline-sec .container ol.ps-timeline li {
        float: left;
        width: 20%;
        padding-top: 30px;
        position: relative; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline li span {
          width: 100px;
          height: 100px;
          margin-left: -50px;
          border-radius: 50%;
          box-shadow: 0 0 0 0px #ffffff;
          text-align: center;
          vertical-align: middle;
          line-height: normal;
          color: #5a5a5a;
          font-size: 2em;
          font-style: normal;
          position: absolute;
          top: -50px;
          left: 50%; }
          .timeline-section .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
            content: '';
            color: #c7b0a4;
            width: 2px;
            height: 50px;
            background: #c7b0a4;
            position: absolute;
            top: -50px;
            left: 50%; }
          .timeline-section .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
            content: '';
            color: #c7b0a4;
            width: 2px;
            height: 50px;
            background: #c7b0a4;
            position: absolute;
            bottom: -50px;
            left: 50%; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
          position: absolute;
          bottom: 0;
          margin-bottom: 130px;
          width: 100%; }
          .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
            display: table;
            margin: 0 auto; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
          position: absolute;
          margin-top: 60px;
          width: 100%; }
          .timeline-section .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
            display: table;
            margin: 0 auto; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline li p {
          text-align: center;
          width: 80%;
          margin: 0 auto; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline li .ps-top {
          position: absolute;
          bottom: 0;
          margin-bottom: 100px; }
        .timeline-section .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
          position: absolute;
          margin-top: 100px; }

.notes-section {
  height: 500px;
  background-image: url("../assets/villa-fab-b2-blur.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .notes-section .notes {
    color: #ffffff;
    font-family: "My Custom Font";
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 18px; }
    .notes-section .notes .note-2 {
      text-align: center;
      font-size: 28px;
      margin-left: 22px;
      margin-right: 22px; }
      @media screen and (min-width: 1200px) {
        .notes-section .notes .note-2 {
          font-size: 38px;
          font-weight: bold; } }
      @media (min-width: 425px) and (max-width: 991px) {
        .notes-section .notes .note-2 {
          font-size: 38px;
          font-weight: bold; } }
    .notes-section .notes .note-3 {
      text-align: center;
      font-size: 18px;
      margin-left: 30px;
      margin-right: 30px; }
      @media screen and (min-width: 1200px) {
        .notes-section .notes .note-3 {
          font-size: 26px;
          font-weight: bold; } }
      @media (min-width: 425px) and (max-width: 991px) {
        .notes-section .notes .note-3 {
          font-size: 26px;
          font-weight: bold; } }
